ARBITRUM_SEPOLIA_RPC=https://sepolia-rollup.arbitrum.io/rpc
ARBITRUM_ONE_RPC=https://arb1.arbitrum.io/rpc
PRIVATE_KEY=0x...
PINATA_API_KEY=
PINATA_SECRET=
DID_REGISTRY_ADDRESS=
NSS_REGISTRY_ADDRESS=
SETTLEMENT_ADDRESS=
USDC_ADDRESS=0xaf88d065e77c8cC2239327C5EDb3A432268e5831
